/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vs/Gestion-Bibliotheque/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.php
*.php
app/User.php
app/User.php
app/User.php
app/User.php
